language: java
jdk: oraclejdk8
addons:
  apt:
    packages:
      - oracle-java8-installer  # https://github.com/travis-ci/travis-ci/issues/3259

# define the order of the stages:
stages:
  - package
  - test

script:
  - mvn test -B -Dmaven.test.redirectTestOutputToFile -Dmatsim.preferLocalDtds=true --fail-at-end
  - mvn failsafe:integration-test failsafe:verify -Dmaven.test.redirectTestOutputToFile -Dmatsim.preferLocalDtds=true --fail-at-end

deploy:
  provider: script
  script: "mvn --settings .travis.settings.xml -DskipTests=true -B clean deploy"
  skip_cleanup: true

env:
  global:
    - MAVEN_OPTS="-Xmx2g"
cache:
  directories:
  - $HOME/.m2
